<div class="menu">
        <div class="menu-sub">
    <a href="users"><b>WHO ARE WE?</b></a>
    <a href="gallery"><b>BUY PRODUCTS</b></a>
    <a href="contact"><b>WANNA INTERN? EMAIL US</b></a>
</div>
</div>

<h1 align="center">ABOUT</h1>

<p class="aboutclass"><b>We are a proud organization dedicated to the greatness of Darren and his career in the bladder system industry. We're only a chicken away, but every day we are churning out incredible new ideas. To buy some merchandise, click <a href="gallery">HERE</a>.</b></p>


<br>
<br>
<br>
<br>
<br>
<div class="profiledata">
    <p class="aboutclass" align="center">Here is your profile data:</p>
    <%= 'FIRST NAME: &nbsp;' %>
    <%= @user.firstname %>
</div>
<div class="profiledata">
    <%= 'LAST NAME: &nbsp; ' %>
    <%= @user.lastname %>
</div>
<div class="profiledata">
    <%= 'EMAIL: &nbsp;' %>
    <%= @user.email %>
</div>
<div class="profiledata">
    <%= 'USER NAME: &nbsp;' %>
    <%= @user.username %>
</div>
<div class="profiledata">
    <%= 'USER TYPE: &nbsp;' %>
    <%= @user.usertype %>
</div>
