<div class="menu">
        <div class="menu-sub">
    <a href="about"><b>WHO ARE WE?</b></a>
    <a href="gallery"><b>BUY PRODUCTS</b></a>
    <a href="contact"><b>WANNA INTERN? EMAIL US</b></a>
</div>
</div>

<h1 align="center">CONTACT</h1>

<!-- <form method="POST" action="/contact">
    <input type="text" name="message">
    <input type="submit" value="submit">
</form> -->

<div id="contactinfo">
<p>If you'd like to contact us, leave us your information and let us know how we can help you help us. Here at Kramerica Industries, we aim to please. We have a variety of terrific ideas brewing (ketchup and mustard in the same bottle, anyone?) but believe that you are our future. Hit us up. Drop us a line. Write us a Dear John. Whatever it is, as long as you want to help Kramerica, we want to help you.</p>
</div>

<form method="POST" action="/users">
First Name: <input type="text" name="firstname"><br>
Last Name: <input type="text" name="lastname"><br>
Email address: <input type="text" name="email"><br>
User name: <input type="text" name="username"><br>
User type: <input type="text" name="usertype"><br>
<input type="submit" value="Submit">
</form>
<br>
<div>
<!-- # <%= 'The @firstname variable is currently equal to: ' %>
# <%= @firstname %>
# </div>
# <br>
# <div>
# <%= 'The @lastname variable is currently equal to: ' %>
# <%= @lastname %>
# </div>
# <br>
# <div>
# <%= 'The @fullname variable is currently equal to: ' %>
# <%= @fullname %>
# </div>
# <div>
# <%= 'The @email variable is currently equal to: ' %>
# <%= @email %>
# </div> -->
