<div class="patientdata">
    <p class="aboutclass" align="center">Here is your patient data:</p>
    <%= 'FIRST NAME: &nbsp;' %>
    <%= @patient.firstName %>
</div>
<div class="profiledata">
    <%= 'LAST NAME: &nbsp; ' %>
    <%= @patient.lastName %>
</div>
<div class="profiledata">
    <%= 'EMR_ID: &nbsp;' %>
    <%= @patient.emr_ID %>
</div>
